@font-face {
    font-family: 'NetflixSans-Light';
    src: url('/fontes/NetflixSans-Light.otf')
}
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    box-sizing: border-box;
}
body {
    font-family: 'NetflixSans-Light', sans-serif;
    background-color: rgb(18, 1, 18);
}
.nav-links {
    font-size: 12px;
    display: flex;
    margin-right: 110px;
    margin-top: 40px;
    justify-content: flex-end;
    list-style-type: none; 
    padding: 0;
}

.nav-links li {
    margin: 0 20px; 
}

.links {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.links:hover {
    color: rgb(164, 164, 164);
}

.text1 {
    margin-left: 90px;
    line-height: 30px;
    margin-top: 160px;
    font-size: 25px;
    color: white;
}

.text1 strong {
    color: rgb(0, 190, 85);
}

.paragraph {
    font-weight: bold;
    color: gray;
    font-size: 13px;
    opacity: 100%;
    margin-left: 90px;
    margin-top: 30px;
}

.projects {
    cursor: pointer;
    margin-left: 90px;
    margin-top: 10px;
    padding: 15px;
    width: 150px;
    box-shadow:  5px 5px 40px black;
    border-radius: 5px;
    background-color: #181818;
    color: white;
}
.account {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    padding: 15px;
    width: 150px;
    box-shadow: 5px 5px 40px black;
    border-radius: 5px;
    background-color: #00BE55;
    color: white;
}

.who {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    font-size: 15px;
}

.name {
    color: white;
    margin-top: 20px;
    margin-left: 90px;
    
}

.developer {
    margin-top: 10px;
    margin-left: 90px;
    color: white;
    font-size: 10px;
}

.subtext {
    text-decoration: none;
    border-bottom: 1px solid #00BE55;
}

.text {
    color: white;
    opacity: 60%;
    margin-left: 90px;
    margin-top: 10px;
    font-size: 13px;
}

.know {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-size: 15px;
}

.front-end {
    margin-left: 90px;
    margin-top: 20px;
    border-color: white;
    width: 800px;
    height: 130px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.174);
    box-sizing: border-box; 
    box-shadow: 5px 5px 40px black;
    transition: border-color 0.5s ease;
}

.front-end:hover {
    border-color: #00BE55;
}

.image {
   margin-top: 20px;
   margin-left: 20px;
   width: 40px;
}



.paragraph2 {
    color: white;
    font-size: 13px;
    margin-left: 20px;
}

.subtext2 {
    text-decoration: none;
    border-bottom: 1px solid #00BE55;
}

.textfront {
    color: white;
    font-size: 11px;
    margin-left: 20px;
    margin-top: 10px;
}

.image2 {
    margin-top: 20px;
    margin-left: 20px;
    width: 40px;
}

.front {
    margin-left: 90px;
    margin-top: 50px;
    border-color: white;
    width: 800px;
    height: 130px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.174);
    box-shadow: 5px 5px 40px black;;
    box-sizing: border-box; 
    transition: border-color 0.5s ease
}

.front:hover {
    border-color: #00BE55;
}

.paragraph3 {
    color: white;
    font-size: 13px;
    margin-left: 20px;
}
.subtext3 {
    text-decoration: none;
    border-bottom: 1px solid #00BE55;
}

.textUi {
    color: white;
    font-size: 11px;
    margin-left: 20px;
    margin-top: 10px;
}

.footer {
    color: white;
    font-size: 11px;
    margin-left: 20px;
    margin-top: 20px;
}

.footer2 {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    margin-left: 70px;
    opacity: 60%;
}
